<nav class="nav nav-pills flex-column flex-sm-row">


    <a class="flex-sm-fill text-sm-center nav-link active" routerLink="">Home</a>
    
    <a class="flex-sm-fill text-sm-center nav-link active " routerLink="signin">Sign in</a>
    <a class="flex-sm-fill text-sm-center nav-link active " routerLink="search">Search Book</a>
    
    <a class="flex-sm-fill text-sm-center nav-link active " routerLink="signup">Sign Up</a>
    <a  class="flex-sm-fill text-sm-center nav-link active" routerLink="Bookform">Create Book</a>
    <a  class="flex-sm-fill text-sm-center nav-link active" routerLink="updatebook">Update Book</a>
    <a  class="flex-sm-fill text-sm-center nav-link active" routerLink="buybook">Buy Book</a>
    <a  class="flex-sm-fill text-sm-center nav-link active" routerLink="searchbyauthor">ByAuthor</a>



    
    </nav>