label {

    width: 100px;

    display: inline-block;

    margin: 0.2cm;

    font: size 6px;

    font-weight: bold

}
input {

    width: 250px;

    height: auto;

}
.container {

    width: 270px;

    height: auto;

}
body {



    background-color: papayawhip;

}



.btn{

    margin-left:55px;

}
