<head>

    <link rel="stylesheet" href="bookform.component.css" type="text/css">
  
  </head>
<h3>create Book</h3>
<label>author</label>
<input type="text"[(ngModel)]="book.author" name="author"><br>
<label>title</label>
<input type="text"[(ngModel)]="book.title" name="title"><br>
<label>publisher</label>
<input type="text"[(ngModel)]="book.publisher" name="publisher"><br>
<label>releaseDate</label>
<input type="text"[(ngModel)]="book.releaseDate" name="releaseDate"><br>
<label>catagory</label>
<input type="text"[(ngModel)]="book.catagory" name="catagory"><br>
<label>price</label>
<input type="text"[(ngModel)]="book.price"  name="price"><br>
<label>active</label>
<input type="text"[(ngModel)]="book.active"  name="active"><br>
<label>content</label>
<input type="text"[(ngModel)]="book.content" name="content"><br>



<button class= "btn btn-primary" type="button" (click)="saveBook()" > save</button>