<head>

  <link rel="stylesheet" href="signup.component.css" type="text/css">

</head>

<body>
  <div class="container">
    <form>
      <h3>Signup Page</h3>
      <label>username</label>
      <input type="text" placeholder="Enter UserName" [(ngModel)]="user.username" name="userName" class="name" /><br>
      <label>password</label>

      <input type="password" placeholder="Enter Password" [(ngModel)]="user.password" name="password"
        class="password" /><br>
      <label> email</label>
      <input type="email" placeholder="Enter email" [(ngModel)]="user.email" name="email" class="email" /><br>
      <label for="role">Role:</label>
      <select class="form-select" aria-label="Default select example" name="role" [(ngModel)]="user.role"placeholder="Choose the Role">

        <option value="ROLE_READER">ROLE_READER</option>

        <option value="ROLE_AUTHOR">ROLE_AUTHOR</option>

      </select>
      <button class='btn btn-primary' (click)="signup()">signup</button>
    </form>
  </div>
</body>