<h4>updatebook </h4>
<label> bookId</label>
<input type="text"[(ngModel)]="book.bookId" name="bookId"><br>
<label> author</label>
<input type="text"[(ngModel)]="book.author" name="author"><br>
<label> title</label>
<input type="text"[(ngModel)]="book.title" name="title"><br>
<label> publisher</label>
<input type="text"[(ngModel)]="book.publisher" name="publisher"><br>
<label> releaseDate</label>
<input type="text"[(ngModel)]="book.releaseDate" name="releaseDate"><br>
<label> catagory</label>
<input type="text"[(ngModel)]="book.catagory" name="catagory"><br>
<label> price</label>
<input type="text"[(ngModel)]="book.price"  name="price"><br>
<label> active</label>

<input type="text"[(ngModel)]="book.active"  name="active"><br>
<label> content</label>
<input type="text"[(ngModel)]="book.content" name="content"><br>



<button class="btn btn-success" type="button" (click)="updatebook()" > Update</button>