<h4>updatebook </h4>

bookId:<input type="text"[(ngModel)]="book.bookId" name="bookId"><br>
author:<input type="text"[(ngModel)]="book.author" name="author"><br>
title:<input type="text"[(ngModel)]="book.title" name="title"><br>
publisher:<input type="text"[(ngModel)]="book.publisher" name="publisher"><br>
releaseDate:<input type="text"[(ngModel)]="book.releaseDate" name="releaseDate"><br>
catagory:<input type="text"[(ngModel)]="book.catagory" name="catagory"><br>
price:<input type="text"[(ngModel)]="book.price"  name="price"><br>
active:<input type="text"[(ngModel)]="book.active"  name="active"><br>
content:<input type="text"[(ngModel)]="book.content" name="content"><br>



<button class= "btn btn-primary" type="button" (click)="updatebook()" > Update</button>